<html lang="ru">
<head>
    <title>Добавление комментария</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body>
<form action="" method="POST">
    <div>
        <label for="surname">Фамилия:</label>
        <textarea name="surname" id="surname" rows="1">Иванов</textarea>
        <label for="name">Имя:</label>
        <textarea name="name" id="name" rows="1">Василий</textarea>
        <label for="patronymic">Отчество</label>
        <textarea name="patronymic" id="patronymic" rows="1">Алибабаевич</textarea>
        <label for="region">Регион</label>
        <textarea name="region" id="region" rows="1">Прерия</textarea>
        <label for="city">Город</label>
        <textarea name="city" id="city" rows="1">Сочи</textarea>
        <label for="phone">Телефон</label>
        <textarea name="phone" id="phone" rows="1">(861)3322223</textarea>
        <label for="email">Электронная почта:</label>
        <textarea name="email" id="email" rows="1">yaschik@napochte.tam</textarea>
        <label for="comment">Комментарий:</label>
        <textarea name="comment" id="comment" rows="1">Ваш комментарий</textarea>
    </div>
    <button type="submit">Добавить комментарий</button>
</form>
</body>
</html>